<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Your Puppy Details</title>
 </head>
 <body>
  <p>Puppy Name: <%="#{params[:name]}"%></p>
  <p>Puppy Breed: <%="#{params[:breed]}"%></p>
  <p>Puppy Age: <%="#{params[:age]}"%></p>
 </body>
</html>